{% extends 'base.html' %}

{% block body %}
    <h2 style="text-align: center;">Reset your password</h2>
    <form action="/resetpwd" method="POST">
        Email: <br>
        <input type="email" name="email" placeholder="Enter your registered email" class="form-control" required> <br> 
        <input type="submit" value="submit" class="btn btn-success" > <br> 
    </form>
    <h4 style="text-align: center; color: red;">{{msg}}</h4>
    <hr style="height: 5px; background-color: steelblue;">
    <form action="/checkotp" method="POST">
        Enter OTP: <br>
        <input type="hidden" name="sent_otp" value="{{otp}}">
        <input type="hidden" name="eml" value="{{email}}" >
        <input type="text" name="entered_otp" placeholder="Enter 6 digit OTP" class="form-control" required> <br>
        <input type="submit" value="Verify" class="btn btn-success">

    </form>
    <h4 style="text-align: center; color: red;">{{msg9}}</h4>
    <hr style="height: 5px; background-color: steelblue;">
    <a href="/login" class="btn btn-danger" style="margin-left:45%;">Go Back</a>
{% endblock %}